asgiref==3.11.1
branca==0.8.2
certifi==2026.2.25
charset-normalizer==3.4.7
-e git+https://github.com/Jeremias-Silva/cli_utils.git@5f91eeeb755b1d0d3b4380caa0de1cce6195c609#egg=cli_utils
distlib==0.4.0
Django==6.0.4
filelock==3.29.0
folium==0.20.0
gunicorn==26.0.0
idna==3.16
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.4.6
packaging==26.2
pillow==12.2.0
platformdirs==4.9.6
python-discovery==1.2.2
pytube==15.0.0
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
virtualenv==21.3.0
xyzservices==2026.3.0
yt-dlp==2026.3.3
